*{
    margin: 0;
}

body{
    background-color: #0d2041;
}

a{
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: large;
}

a:hover{
    color: lightblue;
}

.error-text{
    color: red;
}

#loading-screen{
    background-color: #050e1d;
    width: 100%;
    height: 100%;
}

.headerBar{
    background-color: #050e1d;
    margin: 0;
    height: 4.5rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;

}

.search-results{
    position: absolute;
    background: rgb(2,0,36);
    background: linear-gradient(31deg, rgba(2,0,36,1) 0%, rgba(4,12,33,1) 0%, rgba(32,12,70,1) 100%);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.75rem;
    top: 31px;
    border-radius: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    z-index: 1;
    overflow-y: scroll;
}

.search-result{
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: #050e1d;
    padding: 1rem;
    border-radius: 0.75rem;
    cursor: pointer;
    transition-duration: .25s;
}

.search-result:hover{
    background-color: #0c2247;
    transition-duration: .25s;
}

.smol{
    width: 100px;
    height: 50px;
    object-fit: scale-down;
}

.navigation{
    display: flex;
    justify-content: left;
    align-items: center;
}

.navList{
    display: flex;
    justify-content: left;
    align-items: center;
}

li{
    display: flex;
    margin-right: 20px;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 380px;
    margin: 0 0.5rem;
    gap: 1rem;
}

.username-label{
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #162352;
    border-radius: 1rem;
    height: 3rem;
    width: 210px;
}

.nav-button {
  appearance: none;
  backface-visibility: hidden;
  background-color: #2f80ed;
  border-radius: 2rem;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  width: 100px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.nav-button:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.nav-button:hover:after {
  opacity: .5;
}

.nav-button:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.nav-button:active:after {
  opacity: 1;
}

.login-button {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  line-height: 1em;
  width: 10rem;
  margin: 0.5rem 0;
  height: 3rem;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.login-button:active,
.login-button:hover {
  outline: 0;
}

.login-button span {
  background-color: rgb(5, 6, 45);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: 300ms;
  align-items: center;
}

.login-button:hover span {
  background: none;
}

@media (min-width: 768px) {
    .login-button {
      font-size: 24px;
    }
}

.logout-button {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    line-height: 1em;
    width: 110px;
    margin: 0.5rem 0;
    height: 3rem;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
.logout-button:active,
.logout-button:hover {
    outline: 0;
}
  
.logout-button span {
    background-color: rgb(5, 6, 45);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: 300ms;
    align-items: center;
}
  
.logout-button:hover span {
    background: none;
}

@media (min-width: 768px) {
    .logout-button {
      font-size: 24px;
    }
}

#modal-close-button {
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border-radius: 10px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  margin-left: 284px;
  margin-bottom: 353px;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 2rem;
  width: 2rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  z-index: 1;
}

#modal-close-button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

.login{
    position: absolute;
    background-color: #050e1d;
    color: white;
    padding: 15px;
    top: 150px;
    border-radius: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    width: 300px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 0 0 20px 1px #AF40FF;
}

.register{
    position: absolute;
    background-color: #050e1d;
    color: white;
    padding: 15px;
    top: 150px;
    border-radius: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    width: 300px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 0 0 20px 1px #AF40FF;
}

.register-form-login-button {
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #2b687e;
    color: #54b3d6;
    font-size: 1.1rem;
    margin: 0 -.25rem;
    padding: 0 0.25rem;
    border-radius: 0.75rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.register-form-login-button:hover {
    box-shadow: inset 290px 0 0 0 #4f1f86;
    border-radius: 0.75rem;
    color: white;
}

.form-text{
    width: 80%;
    text-align: left;
}

.input{
    background-color: #162352;
    border-radius: 5px;
    border-color: #162352;
    color: white;
    width: 80%;
    height: 30px;
}

.homeSection{
    position: relative;
    text-align: center;
    width: 100%;
    height: 60vh;
    color: white;
    margin: 0;
    background: linear-gradient(transparent 50%, #0f1225 ), url("./assets/homeBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.homeTextContainer{
    position: absolute;
    top: 40px;
    left: 46px;
}

.homeImage{
    width: 100%;
    height: 100%;
    margin: 0;
    vertical-align: top;
}

.homeH1{
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow:1px 1px 1px #00c6ff, 1px 1px 7px #00c6ff;
}

.homeH2{
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

.searchBar{
    height: 40%;
    width: 30vw;
    background-color: #162352;
    color: white;
    border-radius: 10px;
    border-color: #162352;
    padding: 5px;
}

.profileBar{
    display: flex;
    justify-content: right;
    width: 200px;
    height: 100%;
}

.profileImg{
   height: 40px;
   width: 40px;
   border-radius: 50%;
   object-fit: cover;
   margin: 5px;
}

.profileName{
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-family: 'Nunito', sans-serif;
}

/*products section*/
.featuredProductSection{
    background-color: #0f1225;
    height: 400px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featuredProduct{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 20rem;
    width: 80%;
    min-width: 500px;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 1.5rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,12,33,1) 0%, rgba(72,27,30,1) 100%); 
}

.featuredProductImg{
    max-height: 10rem;
    max-width: 20rem;
    transform: rotate(-10deg);
    margin: 20px;
}

.featuredProductText{
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Nunito', sans-serif;
    margin: 10px;
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
}

@media (max-width: 1150px) {
    .featuredProductText{
        font-size: 1.3rem;
    }
}

@media (max-width: 800px) {
    .featuredProduct{
        flex-direction: column;
    }
    .featuredProductText{
        font-size: 0.7rem;
    }
}

.productsSliderSection{
    background-color: #050e1d;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.productsSlider1{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
}

.catalog-link-container{
    display: flex;
    background: linear-gradient(#050e1d, transparent 100%), url('assets/guitarbg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: right;
    padding-right: 6rem;
    align-items: center;
    height: 30rem;
    position: relative;
}

.catalog-link{
    font-size: 2rem;
    display: block;
    color: white;
    text-decoration: none;
    position: relative;
}

.catalog-link::after{
    content: "";
    background: white;
      mix-blend-mode: exclusion;
    width: calc(100% + 20px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
      transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
 .catalog-link:hover::after{
      height: calc(100% + 8px)
  }

.footer{
    height: 3rem;
    background-color: #050e1d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.productCard{
    background-color: #0d233b;
    height: 280px;
    width: 22rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
}

.productCard:hover{
    background-color: #3c6fa7;
    scale: 1.02;
    transition: 0.2s ease-in-out;
}

.product{
    background-color: #0a1121;
    width: 90%;
    height: 75%;
    border-radius: 6px;
}

.productName{
    color: white;
    height: 15%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-slider{
    margin: 0 2rem 0 2rem;
    width: 80%;
    color: white;
}

.product-slider h3{
    margin: auto;
    font-size: 3rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    animation: lights 5s 750ms linear infinite;
}

@keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
}

.carousel{
    height: 350px;
    padding: 1rem;
    box-sizing: border-box;
}

.carouselItem{
    max-width: fit-content;
}

.loginImage{
    width: 100%;
    height: 900px;
    object-fit: cover;
}

.loginContainer{
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    background: radial-gradient(100% 225% at 100% 0%, #FF0000 0%, #000000 100%), 
    linear-gradient(236deg, #00C2FF 0%, #000000 100%), 
    linear-gradient(135deg, #CDFFEB 0%, #CDFFEB 36%, #009F9D 36%, #009F9D 60%, #07456F 60%, #07456F 67%, #0F0A3C 67%, #0F0A3C 100%);
    background-blend-mode: overlay, hard-light, normal;
}

.glow-on-hover {
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/*CATALOG*/
#catalog-section{
    background: url('./assets/guitarbg2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#catalog-container{
    display: flex;
    height: 1000px;
    width: 80%;
    padding: 2rem;
    background: rgb(2,0,36);
    background: linear-gradient(31deg, rgba(2,0,36,1) 0%, rgba(4,12,33,1) 0%, rgba(32,12,70,1) 100%); 
}

#categories-container{
    width: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    margin-right: 2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: fit-content;
    background-color: #0d233b;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

.category-button {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  width: 80%;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.category-button:active,
.category-button:focus {
  outline: none;
}

.category-button:hover {
  background-position: -20px -20px;
}

.category-button:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

.category-button-on {
    align-items: center;
    appearance: none;
    background-color: #3efd5e;
    background-image: linear-gradient(1deg, #4ffd58, #26b31a 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    width: 80%;
    display: inline-flex;
    font-family: CircularStd,sans-serif;
    font-size: 1rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s,background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }
  
  .category-button-on:active,
  .category-button-on:focus {
    outline: none;
  }
  
  .category-button-on:hover {
    background-position: -20px -20px;
  }
  
  .category-button-on:focus:not(:active) {
    box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
  }

.catalog-products-container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: auto;
}

.catalog-product{
    background-color: #0d233b;
    height: 300px;
    width: 400px;
    border-radius: 1rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.catalog-product:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.02);
    background: #2a5580;
}

.catalog-product-add-to-cart-container{
    display: flex;
    justify-content: center;
    color: white;
    gap: 0.5rem;
}

.catalog-cart-button {
    appearance: none;
    backface-visibility: hidden;
    background-color: #2f80ed;
    border-radius: 2rem;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 500;
    height: 40px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    width: 120px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}
  
.catalog-cart-button:hover {
    background-color: #1366d6;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}
  
.catalog-cart-button:hover:after {
    opacity: .5;
}
  
.catalog-cart-button:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
}
  
.catalog-cart-button:active:after {
    opacity: 1;
}

.catalog-cart-button-remove {
    appearance: none;
    backface-visibility: hidden;
    background-color: #3c1412;
    border-radius: 2rem;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 500;
    height: 40px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    width: 170px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}
  
.catalog-cart-button-remove:hover {
    background-color: #5f201c;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}
  
.catalog-cart-button-remove:hover:after {
    opacity: .5;
}
  
.catalog-cart-button-remove:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
}
  
.catalog-cart-button-remove:active:after {
    opacity: 1;
}

.add-to-cart-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 90%;
    gap: 1rem;
}

.quantity-container{
    color: white;
    background-color: #0a1121;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

.quantity-col-container{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
}

.quantity-buttons-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.quantity-button{
    color: white;
    background-color: #0d233b;
    border-style: none;
    border-radius: 5px;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.add-to-cart-msg{
    background-color: #9b7202;
    border-radius: 2rem;
    border-bottom-left-radius: 6rem;
    border-top-left-radius: 6rem;
    padding: 0.4rem;
    font-size: 1.3rem;
}

/*CART*/
#cart-icon{
    width: 32px;
}

.cart-button {
    appearance: none;
    backface-visibility: hidden;
    background-color: #2f80ed;
    border-radius: 2rem;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 500;
    height: 40px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 5px;
    width: 60px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}
  
.cart-button:hover {
    background-color: #1366d6;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}
  
.cart-button:hover:after {
    opacity: .5;
}
  
.cart-button:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
}
  
.cart-button:active:after {
    opacity: 1;
}

#cart-section{
    background: url('./assets/guitarbg2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 855px;
    display: flex;
    justify-content: center;
}

#cart-container{
    display: flex;
    justify-content: center;
    height: 600px;
    margin: 100px;
    width: 70%;
    border-radius: 1.5rem;
    padding: 2rem;
    gap: 2rem;
    background: rgb(2,0,36);
    background: linear-gradient(31deg, rgba(2,0,36,1) 0%, rgba(4,12,33,1) 0%, rgba(32,12,70,1) 100%); 
}

#cart-products{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    width: 80%;
    overflow-y: scroll;
    overflow: auto;
}

#cart-summary{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 2rem;
    min-width: fit-content;
    padding: 1rem;
    box-sizing: border-box;
    width: 20%;
    height: fit-content;
    background-color: #0d233b;
    border-radius: 1rem;
    gap: 1rem;
}

.cart-empty-label{
    color: white;
    text-align: center;
    font-size: 2.5rem;
    background-color: #1c4d81;
    border-radius: 1rem;
}

.price-checkout-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.your-cart-container{
    background-color: #1c4d81;
    border-radius: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    
}

.your-cart-container img{
    height: 40px;
}

.cart-product-card{
    background-color: #0d233b;
    min-height: 150px;
    width: 99%;
    border-radius: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0 1rem 0;
    box-sizing: border-box;
}

.cart-product-info{
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: flex-start;
}

.cart-product{
    background-color: #0a1121;
    width: 200px;
    height: 100px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-product img{
    max-height: 6rem;
    max-width: 14rem;
    object-fit: scale-down;
}

.card-product-name{
    color: white;
    height: 15%;
    font-size: 1.75rem;
}
  

/*PRODUCT PAGE*/
.product-page{
    background: url('./assets/productPageBg2.jpg');
    color: white;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.admin-bar{
    width: 250px;
    background-color: #162352;
    height: 50px;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px;
}

.delete-product-button {
    appearance: none;
    backface-visibility: hidden;
    background-color: #731010;
    border-radius: 2rem;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 500;
    height: 40px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    width: 120px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}
  
.delete-product-button:hover {
    background-color: #881313;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}
  
.delete-product-button:hover:after {
    opacity: .5;
}
  
.delete-product-button:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
}
  
.delete-product-button:active:after {
    opacity: 1;
}

.product-page-product{
    background-color: #0a1121;
    width: 730px;
    height: 600px;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}

.product-page-product img{
    width: 800px;
    height: auto;
    scale: 0.7;
    rotate: -10deg;
    object-fit: scale-down;
}

.product-info-container{
    display: flex;
    justify-content: center;
    margin: 2rem;
    gap: 2rem;
}

.product-details-section{
    background-color: #0a1121;
    border-radius: 1rem;
    width: 555px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    font-size: 1.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.product-description{
    background-color: #162352;
    width: 90%;
    height: 80%;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    overflow-y: scroll;
}

.review-form{
    background-color: #050e1d;
    color: white;
    padding: 15px;
    top: 150px;
    border-radius: 20px;
    font-size: 1.2rem;
    width: 40%;
    height: 470px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 0 0 12px 1px #AF40FF;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.review-card{
    background-color: #050e1d;
    border-radius: 1.5rem;
    height: fit-content;
    padding: 1rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    gap: 1rem;
}

.rating-label{
    color: rgb(248, 248, 83);
}

.review-input{
    background-color: #162352;
    border-radius: 5px;
    border-color: #162352;
    color: white;
    width: 80%;
    height: 150px;
    text-align:start;
    resize:none;
    overflow-y: scroll;
}

.review-section{
    background-color: #050e1d;
    border-radius: 1.5rem;
    border-color: #162352;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 2rem;
    gap: 1.5rem;
    padding: 1rem;
}

.review-list{
    background: rgb(2,0,36);
    background: linear-gradient(31deg, rgba(2,0,36,1) 0%, rgba(4,12,33,1) 0%, rgba(32,12,70,1) 100%);
    border-radius: 1.5rem;
    border-color: #162352;
    width: 60%;
    height: 450px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    font-size: 2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.user-display{
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.user-icon{
    width: 50px;
}

/*PRODUCT EDIT PAGE*/
.gradient-page-background{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 855px;
    background: rgb(2,0,36);
    background: linear-gradient(31deg, rgba(2,0,36,1) 0%, rgba(4,12,33,1) 0%, rgba(32,12,70,1) 100%);
}

.product-edit-container{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #0c132e;
    width: 30%;
    min-width: 300px;
    height: 550px;
    padding: 2rem;
    top: 40px;
    gap: 1.5rem;
    border-radius: 1rem;
    border-color: #22357c;
    border-style: solid;
    border-width: 2px;
    color: white;
}

.product-edit-container img{
    max-height: 10rem;
    max-width: 20rem;
    transform: rotate(-10deg);
}

.product-edit-container label{
    width: 100%;
    text-align: left;
    font-size: 1rem;
}

.product-prop-container{
    height: 60px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/*ORDER PAGE*/
.order-info-container{
    width: 500px;
    height: fit-content;
    color: white;
    margin: 3rem;
    background-color: #351f854f;
    padding: 1.5rem;
    box-sizing: border-box;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.order-form{
    background-color: #0c132e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 1rem;
    gap: 1rem;
    width: 100%;
}

.order-form label{
    width: 97%;
    text-align: left;
}

.order-input{
    background-color: #162352;
    color: white;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    border-color: #162352;
    padding: 1rem;
    box-sizing: border-box;
}

.order-finish-text{
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (max-width: 1800px){
    .catalog-products-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }
}

@media (max-width: 1250px){
    .catalog-products-container{
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        align-items: center;
    }

    .product-info-container{
        flex-direction: column;
        align-items: center;
    }

    .product-description{
        height: 280px;
    }

    .product-page-product{
        height: 400px;
    }

    .product-details-section{
        width: 75%;
    }

    #cart-container{
        flex-direction: column;
        align-items: center;
    }

    #cart-products{
        width: 100%;
    }
}

@media (max-width: 1050px) {
    .login-button{
        width: 90px;
       
    }
    .navigation{
        width: fit-content;
    }

    .button-container{
        width: fit-content;
    }

    .nav-button{
        width: 80px;
    }

    .navList{
        padding: 0;
    }

    .searchBar{
        width: 340px;
    }

    .featuredProductText{
        font-size: 1.1rem;
    }
}

@media (max-width: 851px) {
    .headerBar{
        display: flex;
        height: 160px;
        flex-direction: column;
        box-sizing: border-box;
        padding: 1rem;
    }

    .headerBar :nth-child(1){
        order: 1;
    }

    .headerBar :nth-child(3){
        order: 2;
    }

    .headerBar :nth-child(2){
        order: 3;
    }

    .featuredProductText{
        font-size: 0.9rem;
    }

    .featuredProduct{
        height: 400px;
        padding: 0 3rem;
        box-sizing: border-box;
    }
    
}

@media (max-width: 750px){
    #catalog-container{
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    #categories-container{
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media (max-width: 660px){
    .cart-product-card{
        flex-direction: column;
        height: fit-content;
        width: 100%;
        min-height: fit-content;
        gap: 1rem;
    }

    #cart-products{
        overflow-x: hidden;     
    }

    .cart-product-info{
        justify-content: center;
    }

    .card-product-name{
        height: 40px;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 600px){
    .homeTextContainer{
        left: 0;
    }

    .category-button{
        width: 90px;
    }

    .catalog-products-container{
        width: 100%;
        overflow-x: hidden;
    }
}