*{
    margin: 0;
}

body{
    background-color: #0d2041;
}

a{
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: large;
}

a:hover{
    color: lightblue;
}

.headerBar{
    background-color: #050e1d;
    margin: 0;
    height: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation{
    display: flex;
    justify-content: left;
    align-items: center;
}

.navList{
    display: flex;
    justify-content: left;
    align-items: center;
}

li{
    display: flex;
    margin-right: 20px;
}

.homeSection{
    position: relative;
    text-align: center;
    color: white;
    margin: 0;
}

.homeTextContainer{
    position: absolute;
    top: 40px;
    left: 46px;
}

.homeImage{
    width: 100%;
    height: 100%;
    margin: 0;
    vertical-align: top;
}

.homeH1{
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow:1px 1px 1px #00c6ff, 1px 1px 7px #00c6ff;
}

.homeH2{
    font-size: 1.5vw;
    font-family: 'Roboto', sans-serif;
}

.searchBar{
    height: 40%;
    width: 30vw;
    background-color: #162352;
    color: white;
    border-radius: 10px;
    border-color: #162352;
    padding: 5px;
}

.profileBar{
    display: flex;
    justify-content: right;
    width: 200px;
    height: 100%;
}

.profileImg{
   height: 40px;
   width: 40px;
   border-radius: 50%;
   object-fit: cover;
   margin: 5px;
}

.profileName{
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-family: 'Nunito', sans-serif;
}

.featuredProductSection{
    background-color: #0f1225;
    height: 400px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featuredProduct{
    display: flex;
    justify-content: space-between;
    height: 80%;
    width: 80%;
    border-radius: 6px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,12,33,1) 0%, rgba(72,27,30,1) 100%); 
}

.featuredProductImg{
    height: 100%;
    width: 50vw;
    transform: rotate(-10deg);
    margin: 20px;
}

.featuredProductText{
    color: white;
    font-family: 'Nunito', sans-serif;
    margin: 10px;
    width: 100%;
    height: 100%;
}
